*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  outline: none;
}

.header{
  width: auto;
  height: 55px;
  background: #2E2E2E;
  padding: 0 20px;
  color: #FFFFFF;
}
.logo h1{
  float: left;
  font-size: 2.3em;
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  text-decoration: none;
  letter-spacing: 8px;
}

.menu{
  float: right;
  line-height: 55px;
  z-index: 20;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 55px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #00FF00;
}

@media screen and (max-width:1000px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2E2E2E;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 25px;
    right: 40px;
  }
<<<<<<< HEAD
}

/* NOTE: styles for about section */
.about {
  width: auto;
  height: 100%;
}
#canvas{
  width: 100%;
  height: 100%;
  background: #D8D8D8;
  margin: 0 auto;
=======
>>>>>>> f9ee68cb19b138daa8457fb3ece337692a553e3a
}

/* NOTE: styles for educations */
.timeline{
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 80%;
}
.timeline:before{
  content: '';
  position: absolute;
  left: 50%;
  width: 4px;
  height: 85%;
  background: #088A08;

}
.timeline ul{
  margin: 0;
  padding: 0;
}
.timeline h3,p{
  margin-bottom: 20px;
}
.timeline ul li{
  list-style: none;
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}
.timeline ul li:nth-child(odd){
  float: left;
  text-align: right;
  clear: both;
}
.timeline ul li:nth-child(even){
  float: right;
  text-align: left;
  clear: both;
}
.timeline ul li:nth-child(odd):before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: -12px;
  background: #DF0101;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #088A08;
}
.timeline ul li:nth-child(even):before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  left: -8px;
  background: #DF0101;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #088A08;
}
.timeline ul li h3{
  margin: 0 0 20px 0;
  padding: 0;
  color: #8A0886;
}
.timeline ul li:nth-child(odd) .time{
  position: absolute;
  top: 13px;
  right: -150px;
  margin: 0;
  padding: 10px 20px;
  background: #088A08;
  color: #DF0101;
  border-radius: 20px;
}
.timeline ul li:nth-child(even) .time{
  position: absolute;
  top: 13px;
  left: -145px;
  margin: 0;
  padding: 10px 20px;
  background: #088A08;
  color: #DF0101;
  border-radius: 20px;
}

/* NOTE: make it responsive now */
@media screen and (max-width:765px){
  .timeline{
    width: 100%;
  }
  .timeline:before{
    left: 25px;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even){
    width: 100%;
    text-align: left;
    margin-bottom: 35px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before{
    top: -23px;
    left: 17px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top: -32px;
    left: 50px;
    right: auto;
  }
}

/* NOTE: finished educations style */



/* NOTE: styles for skillbar */
.skillbar{
  width: 80%;
  margin: auto;
}

.header-name{
  text-align: center;
  margin: 40px 0px 0px 0px;
  text-shadow: 2px 2px 4px #A4A4A4;
}

.skillbar h2{
  text-align: left;
  margin-top: 30px;
}

.line{
  height: 25px;
  min-width: 80%;
  margin: 0 auto 10px;
  line-height: 25px;
  font-size: 14px;
  color: #fff;
  padding: 0 0 0 10px;
  position: relative;
}

.line:before{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 25px;
  top: 0;
  z-index: -2;
  background: #757575;
  border-radius: 15px;
}

.line:after{
  content: '';
  background: #189321;
  height: 25px;
  transition: .05s;
  display: block;
  width: 100%;
  animation: animate 1 5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 15px;
}

.line1:after{
  max-width: 85%;
}
.line2:after{
  max-width: 80%;
}
.line3:after{
  max-width: 80%;
}
.line4:after{
  max-width: 70%;
}
.line5:after{
  max-width: 70%;
}
.line6:after{
  max-width: 75%;
}

@keyframes animate{
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}

/* NOTE: skillbar style finished here */



/* NOTE: footer styles started here */
.footer-main-div{
  width: auto;
  height: auto;
  margin: auto;
  background: #2E2E2E;
  padding-top: 32px;
  padding-bottom: 15px;
  margin-top: 64px;

}
.footer-social-icons{
  width: auto;
  height: auto;
  margin: auto;

}
.footer-social-icons ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer-social-icons ul li{
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 0px 12px;
  border-radius: 100%;
  background-color: #BDBDBD;
}
.footer-social-icons ul li:hover{
  cursor: pointer;
}
.footer-social-icons ul li a{
  font-size: 40px;
}
.fa-github{
  color: #1C1C1C;
}
.fa-facebook{
  color: #3b5998;
}
.fa-linkedin{
  color: #0e76a8;
}
.footer-social-icons ul li a i{
  line-height: 64px;
}
.footer-copywrite{
  text-align: center;
  padding-top: 32px;
  color: #2E9AFE;
}

.footer-copywrite a{
  text-decoration: none;
  color: #2E9AFE;
}
.footer-copywrite a:hover{
  color: #A4A4A4;
}
.email{
  margin-bottom: 16px;
}
/* NOTE: for mobile view */
@media screen and (max-width: 460px){
  .email{
    font-size: 5vw;
  }
  .copywrite{
    font-size: 5vw;
  }
}
